 .expander {
	width:50px;
	height:50px;
	background-color:#fa3;
	border-radius:0;
	-webkit-transition: 
		background-color 3s, 
		width 3s, 
		height 3s,
		border-radius 3s;
	transition: 
		background-color 3s, 
		width 3s, 
		height 3s,
		border-radius 3s;
}
.expander:hover {
	width:300px;
	height:300px;
	background-color:#39f;
	border-radius: 150px;
}



/* styles for nav icon */
body {
	padding:0;
	margin:0;
	font-size:.75em;
	text-align:center;
}

#navigation {
	cursor:pointer;
}

#icon-container {
	cursor:pointer;
	padding:5px;
	display:inline-block;
	margin:4em auto 0 auto;
	position:relative;
}

#icon-container div.nav-icon {
	width:20px;
	height:3px;
	background:#000;
	cursor: pointer;
	position:absolute;
}

#icon-container div.nav-icon.top {
	top:0;
}

#icon-container div.nav-icon.middle {
	top:6px;
}

#icon-container div.nav-icon.bottom {
	top:12px;
}

/* animation styles */

#icon-container div.nav-icon.top.close {
	-webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: morphTop;
  animation-name: morphTop;
}

#icon-container div.nav-icon.middle.close {
	-webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: morphMiddle;
  animation-name: morphMiddle;
}

#icon-container div.nav-icon.bottom.close {
	-webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: morphBottom;
  animation-name: morphBottom;
}

@keyframes morphTop {
  from {
    top:0;
    transform: rotate(0deg);
  }

  to {
    top:6px;
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes morphTop {
  from {
    top:0;
    transform: rotate(0deg);
  }

  to {
    top:6px;
    transform: rotate(-45deg);
  }
}

@keyframes morphMiddle {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

@-webkit-keyframes morphMiddle {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

@keyframes morphBottom {
  from {
    top:12px;
    transform: rotate(0deg);
  }

  to {
    top:6px;
    transform: rotate(45deg);
  }
}

@-webkit-keyframes morphBottom {
  from {
    top:12px;
    transform: rotate(0deg);
  }

  to {
    top:6px;
    transform: rotate(45deg);
  }
}



