* {
	color:#333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	-webkit-font-smoothing: antialiased;
}

body {
	padding:2em;
}

li {
	margin:.5em 0 .5em 0;
}

hr {
	border:0;
	border-top:1px dashed #aaa;
	margin:3em 0 2em 0;
}

pre {
	border:1px dashed #777;
	background:#333;
	color:#fff;
	font-family: Courier;
	padding:1em;
}